.color-exam {
    background-color: #EC407A;
}

.color-homework {
    background-color: #29B6F6;
}

.color-project {
    background-color: #AB47BC;
}

.color-online-class {
    background-color: #9CCC65;
}

.color-section-wide {
    background-color: #AA3939;
}

.color-school-wide {
    background-color: #FF9800;
}

.top-spa {
    margin-top:20px;
}