<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
	<th:block th:replace="fragments/common::header-meta"></th:block>

    <!-- common import of css & js goes here -->
    <th:block th:replace="fragments/common::header-import-css"></th:block>
    <th:block th:replace="fragments/common::header-import-js"></th:block>
    
	<title>Human Resource Information System</title>


</head>

<body>

	<!-- Main Navbar -->
	<div th:replace="fragments/common::main-navbar"></div>
	<!-- /Main Navbar -->

					
	<!-- Page content -->
	<div class="page-content">	
		
		<!-- Main sidebar -->
		<div th:replace="fragments/common::main-sidebarnav"></div>
		<!-- /Main sidebar -->


		<!-- Main content -->
		<div class="content-wrapper">
			

			<!-- Content area -->
			<div class="content pt-0">

				<!-- Dashboard content -->
				<div class="row mt-3">
					<div class="col-xl-12">
						
						
						<div class="card">
					<div class="card-header header-elements-inline">
						<h5 class="card-title">Appointments</h5>
					</div>

					<div class="card-body">
						Select an employee below to view or manage their appointment records.
					</div>

					<table class="table table-bordered table-hover datatable-highlight" id="table-list">
						<thead>
							<tr>
								<th style="width: 5px;">&nbsp;</th>
								<th>Employee Name</th>
								<th>Employee No.</th>
								<th>Plantilla No.</th>
								<th>Position</th>
								<th>Division</th>
								<th>Role</th>
								<th>Status</th>
							</tr>
						</thead>
						<tbody>
							<th:block th:each="employee : ${employeeList}">
								<tr>
									<td title="View Record">
										<a th:href="@{'/appointments/' + ${employee.getId()} + '/' + ${employee.getEmpHashCode()}}" class="list-icons-item"><i class="icon-search4"></i></a>
									</td>
									<td th:text="${employee.getFullName()}">Full Name</td>
									<td th:text="${employee.getEmpNo()}">Status</td>
									<td th:text="${employee.getPlantillaNo()}">Status</td>
									<td th:text="${employee.getPositionTitle() != null ? employee.getPositionTitle().getPositionTitleName() : ''}">Status</td>
									<td th:text="${employee.getDivision() != null ? employee.getDivision().getDivisionName() : ''}">Status</td>
									<td th:text="${employee.userType == 'ROLE_EMPLOYEE' ? 'EMPLOYEE' : 'ADMIN'}">Status</td>
									<td><span class="badge badge-success" th:text="${employee.getStatus()}">Active</span></td>
								</tr>
							</th:block>
						</tbody>
					</table>
				</div>
						
						
								
					</div>
				</div>
				<!-- /dashboard content -->

			</div>
			<!-- /content area -->

			<!-- Footer -->
			<div th:replace="fragments/common::footer"></div>
			<!-- /Footer -->    

		</div>
		<!-- /main content -->

	</div>
	<!-- /page content -->

	<script th:inline="javascript">

		let contextRoot = /*[[${#httpServletRequest.getContextPath()}]]*/ '';
		let employeeListDataTable = null;


		$(document).ready(function() {


			$(".nav-item-submenu").removeClass("nav-item-expanded nav-item-open");
			$("#employeeManagementNav").addClass("nav-item-expanded nav-item-open");
			$("#appointmentsListNav").addClass("active");

			if (!employeeListDataTable) {
				employeeListDataTable = $('#table-list').DataTable({
					"lengthMenu": [10, 25, 50],
					"ordering": false,
					"retrieve": true
				});
			}

		});


	</script>
</body>
</html>
