<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
	<th:block th:replace="fragments/common::header-meta"></th:block>

    <!-- common import of css & js goes here -->
    <th:block th:replace="fragments/common::header-import-css"></th:block>
    
    <th:block th:replace="fragments/common::header-import-js"></th:block>
    
	<title>Dashboard</title>


</head>

<body>

	<!-- Main Navbar -->
	<div th:replace="fragments/common::main-navbar"></div>
	<!-- /Main Navbar -->

					
	<!-- Page content -->
	<div class="page-content">
	
		<!-- Main sidebar -->
		<div th:replace="fragments/common::main-sidebarnav"></div>
		<!-- /Main sidebar -->

		<!-- Main content -->
		<div class="content-wrapper">
			
			<!-- Vertical form modal -->
			<div id="modal_form_vertical" class="modal fade" tabindex="-1">
					<div class="modal-dialog modal-lg">
						<div class="modal-content">
							<div class="modal-header bg-primary">
								<h5 class="modal-title">Educational Background Information</h5>
								<button type="button" class="close" data-dismiss="modal">&times;</button>
							</div>

							<form id="employeeForm" th:action="@{/addEducationalBg}" method="post" th:object="${educationalBg}">
								<input type="hidden" th:field="*{id}" name="id" id="id">
								<input type="hidden" th:field="*{employee.id}" name="employeeId" id="employeeId">
								<input type="hidden" th:field="*{employee.empHashCode}" name="empHashCode" id="empHashCode">
								<input type="hidden" th:field="*{showMode}" name="showMode" id="showMode" value="">
								<div class="modal-body">
									
									<div class="form-group">
										<div class="row">
											<div class="col-sm-4">
												<label for="degreeLevel">Level</label>
												<select th:field="*{degreeLevel.id}" id="degreeLevel" class="form-control required-field-hrisp">
													<option selected value="">SELECT VALUE</option>
													<option th:each="degreeLevel : ${degreeLevelList}" th:value="${degreeLevel.id}" th:text="${degreeLevel.degreeName}">degreeLevel</option>
										   		</select>
											</div>
											<div class="col-sm-4">
												<label for="schoolCustomName">Name of School (write in full)</label>
												<input type="text" class="form-control required-field-hrisp" id="schoolCustomName" name="schoolCustomName" th:field="*{schoolCustomName}" placeholder="Enter name of school"/>
											</div>
											<div class="col-sm-4">
												<label for="degreeCourseCustomName">Basic Education / Degree / Course (write in full)</label>
												<input type="text" class="form-control" id="degreeCourseCustomName" name="degreeCourseCustomName" th:field="*{degreeCourseCustomName}" placeholder="Enter degree / course"/>
											</div>
										</div>
									</div>								
									
									<div class="form-group">
										<div class="row">
											<div class="col-sm-4">
												<label for="startDate">Start Period</label>
												<input type="number" class="form-control" id="startDate_display"
															   placeholder="YYYY" min="1900" max="2099" autocomplete="off" />
															<input type="hidden" id="startDate" name="startDate"
																   th:value="${educationalBg.startDate != null ? #temporals.format(educationalBg.startDate,'yyyy-MM-dd') : ''}" />
											</div>
											<div class="col-sm-4">
												<label for="endDate">End Period</label>
												<input type="number" class="form-control" id="endDate_display"
															   placeholder="YYYY" min="1900" max="2099" autocomplete="off" />
															<input type="hidden" id="endDate" name="endDate"
																   th:value="${educationalBg.endDate != null ? #temporals.format(educationalBg.endDate,'yyyy-MM-dd') : ''}" />
											</div>
											<div class="col-sm-4">
												<label for="unitsEarned">Units Earned</label>
												<input type="text" class="form-control" id="unitsEarned" name="unitsEarned" th:field="*{unitsEarned}" placeholder="Units Earned"/>
											</div>															
											
										</div>
									</div>
													
									<div class="form-group">
										<div class="row">   
											<div class="col-sm-4">
												<label for="yearGraduated">Year Graduated</label>
												<input type="number" class="form-control" id="yearGraduated" name="yearGraduated" th:field="*{yearGraduated}" />
											</div>
											<div class="col-sm-4">
												<label for="scholarship">Scholarship</label>
												<select th:field="*{scholarship.id}" id="scholarship" class="form-control">
													<option selected value="">SELECT VALUE</option>
													<option th:each="scholarship : ${scholarshipList}" th:value="${scholarship.id}" th:text="${scholarship.scholarshipName}">scholarshipName</option>
										   		</select>
											</div>
											<div class="col-sm-4">
												<label for="academicHonorsText">Academic Honors</label>
												<input type="text" class="form-control" id="academicHonorsText" name="academicHonorsText"
													   th:field="*{academicHonorsText}" placeholder="e.g. Cum Laude, With Honors" />
											</div>										
										</div>
									</div>
													
									<div class="form-group spouseField">
										<div class="row">  																									
											<div class="col-sm-12">
												<label for="remarks">Remarks</label>
												<textarea th:field="*{remarks}" name="remarks" class="form-control" placeholder="Remarks" cols="30" rows="6" id="remarks"></textarea>
											</div>
										</div>
									</div>
													
													
									
								</div>

								<div class="modal-footer">
									<button type="button" class="btn bg-primary" data-dismiss="modal">Close</button>
									<button id="submitBtn" type="submit" class="btn bg-primary">Save Info</button>
							<button type="button" class="btn btn-outline-success ml-2"
								onclick="validateAndGoNext(this.getAttribute('data-href'));"
								th:attr="data-href=@{/employee/civil-eligibility/{id}/{mode}/{hash}(id=${employee.id},mode=${employee.showMode},hash=${employee.empHashCode})}">
								Next: Civil Service Eligibility &#8594;
							</button>
								</div>
							</form>
						</div>
					</div>
				</div>
			<!-- /Vertical form modal -->

			
			<div class="content">

				<!-- Inner container -->
				<div class="d-flex align-items-start flex-column flex-md-row">

					<!-- Left content -->
					<div class="tab-content w-100 order-2 order-md-1">
						<div class="tab-pane fade active show" id="activity">
							
							
							
							<!-- Dashboard content -->
							<div class="row mt-3">
								<div class="col-xl-12">
									
									
									<div class="card">
										<div class="card-header header-elements-inline">
											<h5 class="card-title">Educational Background Information</h5>
											<div class="header-elements">
												<div class="list-icons">				                				
									           		<button id="addButton" type="button" class="btn btn-primary" data-toggle="modal" data-target="#modal_form_vertical">Add Record</button>
									           	</div>
											</div>
										</div>
					
										<div class="card-body">
											List of All Educational Background. Type to search desired record.
										</div>
					
										<table class="table table-bordered table-hover datatable-highlight">
											<thead>
												<tr>
													<th width="150px;">&nbsp;</th>
													<th>Level</th>
													<th>Name of School</th>
													<th>Degree/Course</th>		
													<th>Period of Attendance</th>														
												</tr>
											</thead>
											<tbody>
												<th:block th:each="educationalBg : ${educationalBgList}">
													<tr>
														
														<td class="text-center">
															<button id="editDegreeLevelButton" type="button" class="showDetails btn btn-primary"
			                                                 th:data-row-degreeLevel="${educationalBg.getDegreeLevel().getId()}"	
			                                                 th:data-row-school="${educationalBg.getSchool() != null ? educationalBg.getSchool().getId() : 0}"
			                                                 th:data-row-degreeCourseCustomName="${educationalBg.getEffectiveDegreeCourseName()}"
			                                                 th:data-row-scholarship="${educationalBg.getScholarship().getId()}"
			                                                 th:data-row-academicHonorsText="${educationalBg.getAcademicHonorsText()}"
			                                                 th:data-row-startDate="${educationalBg.getStartDate()}"
			                                                 th:data-row-endDate="${educationalBg.getEndDate()}"
			                                                 th:data-row-unitsEarned="${educationalBg.getUnitsEarned()}"
			                                                 th:data-row-yearGraduated="${educationalBg.getYearGraduated()}"
			                                                 th:data-row-remarks="${educationalBg.getRemarks()}"
			                                                 th:data-row-id="${educationalBg.getId()}"
			                                                 th:data-row-schoolCustomName="${educationalBg.getEffectiveSchoolName()}"
															data-toggle="modal" data-target="#modal_form_vertical"
			                                                >View Record</button>
														</td>														
														
														<td th:text="${educationalBg.getDegreeLevel().getDegreeName()}">Full Name</td>
														<td th:text="${educationalBg.getEffectiveSchoolName()}">Relationship</td>
														<td th:text="${educationalBg.getEffectiveDegreeCourseName()}">Birthday</td>
														<td th:text="${educationalBg.getDateToString()}">Age</td>
														
													</tr>
												</th:block>		
												
												
											</tbody>
										</table>
									</div>

									<!-- PDS Section Navigation -->
									<div class="card mt-2">
										<div class="card-body d-flex justify-content-between align-items-center py-2">
											<a th:href="@{/employee/familybg/{id}/{mode}/{hash}(id=${employee.id},mode=${employee.showMode},hash=${employee.empHashCode})}"
											   class="btn btn-outline-secondary btn-sm">
												&#8592; Previous: Family Background
											</a>
											<button type="button" class="btn btn-success btn-sm"
												onclick="validateAndGoNext(this.getAttribute('data-href'));"
												th:attr="data-href=@{/employee/civil-eligibility/{id}/{mode}/{hash}(id=${employee.id},mode=${employee.showMode},hash=${employee.empHashCode})}">
												Next: Civil Service Eligibility &#8594;
											</button>
										</div>
									</div>
									<!-- /PDS Section Navigation -->



								</div>
							</div>
							<!-- /dashboard content -->
							
														
					    </div>			    
					</div>
					<!-- /left content -->


					<!-- Right component Profile Pic -->
					<div class="sidebar sidebar-light bg-transparent sidebar-component sidebar-component-right wmin-100 border-0 shadow-0 order-1 order-md-2 sidebar-expand-md">

						<!-- Main sidebar -->
						<div th:replace="fragments/common::right-profile-content"></div>
						<!-- /Main sidebar -->
		
					</div>
					<!-- /right sidebar component -->

				</div>
				<!-- /inner container -->

			</div>
			<!-- /content area -->
						
			

		</div>
		<!-- /main content -->
		
		

	</div>
	<!-- /page content -->
	
	<!-- Main sidebar -->
	<div th:replace="fragments/common::footer"></div>
	<!-- /Main sidebar -->
	
	<script th:inline="javascript">
		function returnToList(){
			//Redirect to Patient Record
			let contextRoot = /*[[${#httpServletRequest.getContextPath()}]]*/ '';
			window.location.href = contextRoot + "/employee-list";
		}

		function validateAndGoNext(nextUrl) {
			var missed = [];
			$('.required-field-hrisp:visible').each(function() {
				var v = $(this).val();
				if (!v || v.trim() === '') {
					var label = $('label[for="' + $(this).attr('id') + '"]').text().trim()
								|| $(this).attr('placeholder')
								|| $(this).attr('name')
								|| 'Unnamed field';
					missed.push(label);
				}
			});
			if (missed.length > 0) {
				swal({
					title: "Please fill required fields",
					text: missed.map(function(l, i) { return (i+1) + '. ' + l; }).join('\n'),
					icon: "warning"
				});
				return;
			}
			window.location.href = nextUrl;
		}
	</script>
	
	<script th:inline="javascript">		
	
	    $(document).ready(function() {
			
			$('#addButton').click(function(){
				let empHashCode = $('#empHashCode').val();
				let employeeId = $('#employeeId').val();
				
		        $('#employeeForm')[0].reset();
		        
		        $('#empHashCode').val(empHashCode);
		        $('#employeeId').val(employeeId);
		        $(".spouseField").show();
		    });
			
			$(document).on("click", ".showDetails", function() {
				
	            var id = $(this).attr('data-row-id');
	            var degreeLevel = $(this).attr('data-row-degreeLevel'); 
	            var scholarship = $(this).attr('data-row-scholarship');
	            var academicHonorsText = $(this).attr('data-row-academicHonorsText');
	            var startDate = $(this).attr('data-row-startDate');
	            var endDate = $(this).attr('data-row-endDate');
	            var unitsEarned = $(this).attr('data-row-unitsEarned');
	            var yearGraduated = $(this).attr('data-row-yearGraduated');
	            var remarks = $(this).attr('data-row-remarks');
            var schoolCustomName = $(this).attr('data-row-schoolCustomName');
            var degreeCourseCustomName = $(this).attr('data-row-degreeCourseCustomName');
	                    
	            
	            $("#modal_form_vertical").find("#id").val(id);
	            $("#modal_form_vertical").find("#degreeLevel").val(degreeLevel);
	            $("#modal_form_vertical").find("#scholarship").val(scholarship);
	            $("#modal_form_vertical").find("#academicHonorsText").val(academicHonorsText);
	            $("#modal_form_vertical").find("#startDate").val(startDate);
	            $("#modal_form_vertical").find("#endDate").val(endDate);
	            $("#startDate_display").val(startDate ? startDate.substring(0, 4) : '');
	            $("#endDate_display").val(endDate ? endDate.substring(0, 4) : '');
	            $("#modal_form_vertical").find("#unitsEarned").val(unitsEarned);
	            $("#modal_form_vertical").find("#yearGraduated").val(yearGraduated);
	            $("#modal_form_vertical").find("#remarks").val(remarks);
            $("#modal_form_vertical").find("#schoolCustomName").val(schoolCustomName);
            $("#modal_form_vertical").find("#degreeCourseCustomName").val(degreeCourseCustomName);

	        });

			
			

			// ── Date Mask (dd/mm/yyyy ↔ yyyy-MM-dd) ──────────────────────────────
			$(document).on('input', '.date-mask-input', function() {
				var v = $(this).val().replace(/\D/g, '').substring(0, 8);
				if (v.length >= 3) v = v.substring(0,2) + '/' + v.substring(2);
				if (v.length >= 6) v = v.substring(0,5) + '/' + v.substring(5);
				$(this).val(v);
			});
			$(document).on('blur', '.date-mask-input', function() {
				var display = $(this).val().trim();
				var hiddenId = $(this).attr('id').replace('_display', '');
				var $hidden = $('#' + hiddenId);
				var $err = $(this).nextAll('.date-error').first();
				if (!display) { $hidden.val(''); $err.hide(); return; }
				var parts = display.split('/');
				if (parts.length !== 3) { $err.show(); return; }
				var dd = parts[0], mm = parts[1], yy = parts[2];
				var year = parseInt(yy, 10);
				if (yy.length <= 2) year += (year <= 49 ? 2000 : 1900);
				var d = new Date(year, parseInt(mm,10)-1, parseInt(dd,10));
				if (isNaN(d.getTime()) || d.getDate() != parseInt(dd,10) || (d.getMonth()+1) != parseInt(mm,10)) {
					$err.show(); $hidden.val(''); return;
				}
				$err.hide();
				$hidden.val(year + '-' + mm.padStart(2,'0') + '-' + dd.padStart(2,'0'));
			});
			$('.date-mask-input').each(function() {
				var hiddenId = $(this).attr('id').replace('_display', '');
				var iso = $('#' + hiddenId).val();
				if (iso && iso.length === 10) {
					var parts = iso.split('-');
					$(this).val(parts[2] + '/' + parts[1] + '/' + parts[0]);
				}
			});

			// Year-only sync for start/end period
			$('#startDate_display, #endDate_display').on('change blur', function() {
				var year = parseInt($(this).val(), 10);
				var hiddenId = $(this).attr('id').replace('_display', '');
				$('#' + hiddenId).val((year >= 1900 && year <= 2099) ? year + '-01-01' : '');
			});
			var startIso = $('#startDate').val();
			var endIso = $('#endDate').val();
			if (startIso) $('#startDate_display').val(startIso.substring(0, 4));
			if (endIso) $('#endDate_display').val(endIso.substring(0, 4));

			// start update profile photo
			const fileSelect = document.getElementById('fileSelect');
		    const profilePhoto = document.getElementById('profilePhoto');
			fileSelect.addEventListener('click', (e) => {
	        	if (profilePhoto) {
	        		profilePhoto.click();
	        	}
	        }, false);
		    profilePhoto.addEventListener('change', previewImage, false);
		    
        	let uploadUrl = /*[[${#request.getContextPath() + '/file/upload/profilePhoto'}]]*/'';
        	let fileUploadForm = document.getElementById('fileUploadForm');
		    fileUploadForm.onsubmit = async (e) => {
		    	e.preventDefault();
		    	let fd = new FormData(fileUploadForm);
		    	
		    	let response = await fetch(uploadUrl, {
		    		method: 'POST',
		    		body: fd
		    	});
		    	
		    	if(response.ok){
		    		swal({
						title: "Success!",
						text: "Profile Photo successfully saved.",
						icon: "success",
						buttons: false,
			            timer: 2000,
					}).then(() => window.location.reload());
		    	} else {
		    		swal({
						title: "Upload Failure!",
						text: "Profile Photo not uploaded successfully.",
						icon: "error",
						buttons: false,
			            timer: 2000,
					});
		    	}
		    };
		    
		    function previewImage() {
				let input = document.getElementById('profilePhoto');
				let img = document.getElementById('photoPreview');
				if (input.files && input.files[0]) {
	        		var reader = new FileReader();
	        		reader.onload = function(e) {
	        			img.src = e.target.result;
	        		}
	        		reader.readAsDataURL(input.files[0]);
	        	}
			}
			// end update profile photo
	    	
	    	$('#consultation-list').DataTable({
				"lengthMenu": [10, 25, 50],
				"ordering": false, 
				
			});
			
			let showMode = /*[[${employee.showMode == null ? '' : employee.showMode} ]]*/'';
			
			if(showMode === 'PROFILE'){
				$(".nav-item-submenu").removeClass("nav-item-expanded nav-item-open");
				$("#myAccountNav").addClass("nav-item-expanded nav-item-open");
				$("#myPersonalInfoNav").addClass("active");

				$("#showMode").val("PROFILE");
			} else {
				$(".nav-item-submenu").removeClass("nav-item-expanded nav-item-open");
				$("#employeeManagementNav").addClass("nav-item-expanded nav-item-open");
				$("#employeeListNav").addClass("active");
				
				$("#showMode").val("HRADMIN");
			}
	    		    				
			

	    	let msgCode = /*[[${msg == null ? '' : msg.code} ]]*/'';
			let msgDesc = /*[[${msg == null ? '' : msg.message}]]*/'';
			
			if(msgCode === 'EMP-NOT-FOUND'){
				swal({
					title: "Employee not found!",
					text: msgDesc,
					icon: "error",
					buttons: false,
		            timer: 3000,
				})
				.then((value) => {
					let contextPath = /*[[${#request.getContextPath()}]]*/'';
					window.location.href = contextPath + "/dashboard";
				});

	    	} else if(msgCode === 'ERROR'){
				swal({
					title: "Error!",
					text: msgDesc,
					icon: "error",
					buttons: false,
		            timer: 2000,
				});
			} else if(msgCode === 'SUCCESS'){
				swal({
					title: "Success!",
					text: msgDesc,
					icon: "success",
					buttons: false,
		            timer: 2000,
				});
			} else if(msgCode === 'EDIT-SUCCESS'){
				swal({
					title: "Success!",
					text: msgDesc,
					icon: "success",
					buttons: false,
		            timer: 2000,
				});
			}
			
			$('#employeeForm').submit(function(event) {
		        var emptyFields = [];
		        $('.required-field-hrisp').each(function() {
		            if ($(this).val().trim() === '') {
		                emptyFields.push($(this));
		            }
		        });
		
		        if (emptyFields.length > 0) {
		            event.preventDefault();
		            //var alertMessage = "Please fill out the following fields:\n";
		            //$.each(emptyFields, function(index, field) {
		            //    alertMessage += "- " + field.attr('name') + "\n";
		            //});
		            //alert(alertMessage);
		            // Focus on the first empty field
		            
		            swal({
						title: "Error!",
						text: "Mandatory fields marked in RED are mandatory.",
						icon: "error",
						buttons: false,
			            timer: 2000,
					});
		            emptyFields[0].focus();
		        } else {
					$("#gender").prop("disabled", false);	
				}
		    });
		    
		    

	    });

		

	</script>

</body>
</html>
