<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
	<th:block th:replace="fragments/common::header-meta"></th:block>

    <!-- common import of css & js goes here -->
    <th:block th:replace="fragments/common::header-import-css"></th:block>
    
    <th:block th:replace="fragments/common::header-import-js"></th:block>
    
	<title>Dashboard</title>


</head>

<body>

	<!-- Main Navbar -->
	<div th:replace="fragments/common::main-navbar"></div>
	<!-- /Main Navbar -->

					
	<!-- Page content -->
	<div class="page-content">
	
		<!-- Main sidebar -->
		<div th:replace="fragments/common::main-sidebarnav"></div>
		<!-- /Main sidebar -->

		<!-- Main content -->
		<div class="content-wrapper">

			  

			<div class="content">

				<!-- Inner container -->
				<div class="d-flex align-items-start flex-column flex-md-row">

					<!-- Left content -->
					<div class="tab-content w-100 order-2 order-md-1">
						<div class="tab-pane fade active show" id="activity">							
							
							<div class="row">
								<div class="col-md-12">
									<div class="card">
										<div class="card-header header-elements-inline bg-primary">
											<h6 class="card-title">Personal Information</h6>
										</div>
										<div class="card-body">
											<form id="employeeForm" th:action="@{/editEmployee}" method="post" th:object="${employee}">
												<input type="hidden" th:field="*{id}" name="id" id="id">
												<input type="hidden" th:field="*{userType}" name="userType" id="userType">
												<input type="hidden" th:field="*{showMode}" name="showMode" id="showMode" value="">
												<div class="modal-body">
													
													<div class="form-group">
														<div class="row">
															<div class="col-sm-4">
																<label for="empNo">Employee No.</label>
																<span class="validationError text-danger" th:if="${#fields.hasErrors('empNo')}" th:errors="*{empNo}"></span>
																<input id="empNo" name="empNo" th:field="*{empNo}" placeholder="Employee No." type="text" class="form-control required-field-hrisp" >
															</div>
															<div class="col-sm-4">
																<label for="assumptiondate">Date Assumed</label>
																<span class="validationError text-danger" th:if="${#fields.hasErrors('assumptiondate')}" th:errors="*{assumptiondate}"></span>
																<input type="text" class="form-control required-field-hrisp date-mask-input"
															   id="assumptiondate_display"
															   placeholder="dd/mm/yyyy" maxlength="10" autocomplete="off" />
															<input type="hidden" id="assumptiondate" name="assumptiondate"
																   th:value="${#temporals.format(employee.assumptiondate,'yyyy-MM-dd')}" />
															<small class="text-danger date-error" style="display:none">Invalid date. Use dd/mm/yyyy.</small>
															</div>											
															<div class="col-sm-4">
																<label for="plantillaNo">Plantilla No.</label>
																<span class="validationError text-danger" th:if="${#fields.hasErrors('plantillaNo')}" th:errors="*{plantillaNo}"></span>
																<input id="plantillaNo" name="plantillaNo" th:field="*{plantillaNo}" placeholder="Plantilla No." type="text" class="form-control" >
															</div>				                    
											            </div>
													</div>
													<div class="form-group">
														<div class="row">
															<div class="col-sm-4">
																<label for="firstName">First Name</label>
																<span class="validationError text-danger" th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}"></span>
																<input id="firstName" name="firstName" th:field="*{firstName}" placeholder="First Name" type="text" class="form-control required-field-hrisp" >
															</div>							                
											                
															<div class="col-sm-4">
																<label for="lastName">Last Name</label>
																<span class="validationError text-danger" th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}"></span>
																<input id="lastName" name="lastName" th:field="*{lastName}" placeholder="Last Name" type="text" class="form-control required-field-hrisp" >
															</div>
															
															<div class="col-sm-4">
																<label for="middleName">Middle Name</label>
																<input id="middleName" name="middleName" th:field="*{middleName}" placeholder="Middle Name" type="text" class="form-control required-field-hrisp" >
															</div>
											            </div>
													</div>
													
													<div class="form-group">
														<div class="row">   
															<div class="col-sm-4">
																<label for="suffix">Suffix</label>
																<input type="text" class="form-control" id="suffix" name="suffix" th:field="*{suffix}" placeholder="Sample Jr. Sr."/>
															</div>
															
															<div class="col-sm-4">
																<label for="birthdate">Birthdate <small class="text-muted">(dd/mm/yyyy)</small></label>
																<input type="text" class="form-control required-field-hrisp date-mask-input"
															   id="birthdate_display"
															   placeholder="dd/mm/yyyy" maxlength="10" autocomplete="off" />
															<input type="hidden" id="birthdate" name="birthdate"
																   th:value="${#temporals.format(employee.birthdate,'yyyy-MM-dd')}" />
															<small class="text-danger date-error" style="display:none">Invalid date. Use dd/mm/yyyy.</small>
															</div>
															
															<div class="col-sm-4">
																<label for="birthPlace">Birth Place</label>
																<input type="text" class="form-control required-field-hrisp" id="birthPlace" name="birthPlace" th:field="*{birthPlace}" placeholder="Birth Place"/>
															</div>											 
															
											           </div>
													</div>
													
													<div class="form-group">
														<div class="row">   
																										
															<div class="col-sm-4">
																<label for="telNo">Tel No.</label>
																<input type="text" class="form-control" id="telNo" name="telNo" th:field="*{telNo}" placeholder="Tel No."/>
															</div>
															 
															<div class="col-sm-4">
																<label for="mobileNo1">Mobile</label>
																<input id="mobileNo1" name="mobileno1" title="enter your mobile number" th:field="*{mobileNo1}" placeholder="e.g. 09XXXXXXXXX" type="text" class="form-control" maxlength="13" pattern="(09|\+639)[0-9]{9}">
															</div>
											                    
															<div class="col-sm-4">
																<label for="email1">Email</label>
																<input id="email1" name="email1" title="enter your email." th:field="*{email1}" placeholder="Email Address" type="email" class="form-control" >
															</div>
											           </div>
													</div>
													
													<div class="form-group">
														<div class="row">
															<div class="col-sm-4">
																<label for="gender">Sex at Birth <small class="text-muted">(CS Form 2025 item 5)</small></label>
																<select id="gender" name="gender" class="form-control required-field-hrisp" th:field="*{gender}">
																	<option value="">SELECT VALUE</option>
																	<option value="M">MALE</option>
																	<option value="F">FEMALE</option>
																</select>
															</div>							                
											                
															<div class="col-sm-4">
																<label for="civilStatus">Civil Status</label>
																<select class="form-control required-field-hrisp" name="civilStatus" id="civilStatus" th:field="*{civilStatus}">
																	<option value="">SELECT VALUE</option>
																	<option value="SINGLE">SINGLE</option>
																	<option value="MARRIED">MARRIED</option>
																	<option value="WIDOWED">WIDOWED</option>
																	<option value="SEPARATED">SEPARATED</option>
																	<option value="OTHERS">OTHERS</option>
																</select>
															</div>
											                    
															<div class="col-sm-4">
																<label for="citizenship">Citizenship</label>
																<select class="form-control required-field-hrisp" name="citizenship" id="citizenship" th:field="*{citizenship}">
																	<option value="">SELECT VALUE</option>
																	<option value="FILIPINO BY BIRTH">FILIPINO BY BIRTH</option>
																	<option value="FILIPINO BY NATURALIZATION">FILIPINO BY NATURALIZATION</option>
																	<option value="DUAL CITIZENSHIP BY BIRTH">DUAL CITIZENSHIP BY BIRTH</option>
																	<option value="DUAL CITIZENSHIP BY NATURALIZATION">DUAL CITIZENSHIP BY NATURALIZATION</option>
																</select>
															</div>
											            </div>
													</div>
													<div class="form-group" id="maidenNameEmpGroup" style="display:none">
														<div class="row">
															<div class="col-sm-4">
																<label for="maidenName">Maiden Name <small class="text-muted">(married female only)</small></label>
																<input id="maidenName" name="maidenName" th:field="*{maidenName}" placeholder="Maiden Name (before marriage)" type="text" class="form-control"/>
															</div>
														</div>
													</div>
													
													<div id="countryGroup" style="display:none">
													<div class="form-group">
														<div class="row">   
															<div class="col-sm-12">
																<label for="birthdate">Please indicate Country</label>
																<select name="countryOfOrigin" id="countryOfOrigin" th:field="*{countryOfOrigin}" class="form-control" placeholder="Citizenship Country Code" >
																	<option value="">(Choose Country)</option>
																	<option value="Afghanistan">Afghanistan</option>
																	<option value="Aland Islands">Aland Islands</option>
																	<option value="Albania">Albania</option>
																	<option value="Algeria">Algeria</option>
																	<option value="American Samoa">American Samoa</option>
																	<option value="Andorra">Andorra</option>
																	<option value="Angola">Angola</option>
																	<option value="Anguilla">Anguilla</option>
																	<option value="Antarctica">Antarctica</option>
																	<option value="Antigua and Barbuda">Antigua and Barbuda</option>
																	<option value="Argentina">Argentina</option>
																	<option value="Armenia">Armenia</option>
																	<option value="Aruba">Aruba</option>
																	<option value="Australia">Australia</option>
																	<option value="Austria">Austria</option>
																	<option value="Azerbaijan">Azerbaijan</option>
																	<option value="Bahamas">Bahamas</option>
																	<option value="Bahrain">Bahrain</option>
																	<option value="Bangladesh">Bangladesh</option>
																	<option value="Barbados">Barbados</option>
																	<option value="Belarus">Belarus</option>
																	<option value="Belgium">Belgium</option>
																	<option value="Belize">Belize</option>
																	<option value="Benin">Benin</option>
																	<option value="Bermuda">Bermuda</option>
																	<option value="Bhutan">Bhutan</option>
																	<option value="Bonaire - Sint Eustatius and Saba">Bonaire - Sint Eustatius and Saba</option>
																	<option value="Bosnia and Herzegovina">Bosnia and Herzegovina</option>
																	<option value="Botswana">Botswana</option>
																	<option value="Bouvet Island">Bouvet Island</option>
																	<option value="Brazil">Brazil</option>
																	<option value="British Indian Ocean Territory">British Indian Ocean Territory</option>
																	<option value="Brunei Darussalam">Brunei Darussalam</option>
																	<option value="Bulgaria">Bulgaria</option>
																	<option value="Burkina Faso">Burkina Faso</option>
																	<option value="Burundi">Burundi</option>
																	<option value="Cabo Verde">Cabo Verde</option>
																	<option value="Cambodia">Cambodia</option>
																	<option value="Cameroon">Cameroon</option>
																	<option value="Canada">Canada</option>
																	<option value="Cayman Islands">Cayman Islands</option>
																	<option value="Central African Republic">Central African Republic</option>
																	<option value="Chad">Chad</option>
																	<option value="Chile">Chile</option>
																	<option value="China">China</option>
																	<option value="Christmas Island">Christmas Island</option>
																	<option value="Cocos Keeling Islands">Cocos Keeling Islands</option>
																	<option value="Colombia">Colombia</option>
																	<option value="Comoros">Comoros</option>
																	<option value="Congo">Congo</option>
																	<option value="Cook Islands">Cook Islands</option>
																	<option value="Costa Rica">Costa Rica</option>
																	<option value="Cote dIvoire">Cote dIvoire</option>
																	<option value="Croatia">Croatia</option>
																	<option value="Cuba">Cuba</option>
																	<option value="Cyprus">Cyprus</option>
																	<option value="Czech Republic">Czech Republic</option>
																	<option value="Democratic Peoples Republic of Korea">Democratic Peoples Republic of Korea</option>
																	<option value="Democratic Republic of Congo">Democratic Republic of Congo</option>
																	<option value="Denmark">Denmark</option>
																	<option value="Djibouti">Djibouti</option>
																	<option value="Dominica">Dominica</option>
																	<option value="Dominican Republic">Dominican Republic</option>
																	<option value="Ecuador">Ecuador</option>
																	<option value="Egypt">Egypt</option>
																	<option value="El Salvador">El Salvador</option>
																	<option value="Equatorial Guinea">Equatorial Guinea</option>
																	<option value="Eritrea">Eritrea</option>
																	<option value="Estonia">Estonia</option>
																	<option value="Ethiopia">Ethiopia</option>
																	<option value="Falkland Islands Malvinas)">Falkland Islands Malvinas)</option>
																	<option value="Faroe Islands">Faroe Islands</option>
																	<option value="Fiji">Fiji</option>
																	<option value="Finland">Finland</option>
																	<option value="France">France</option>
																	<option value="French Guiana">French Guiana</option>
																	<option value="French Polynesia">French Polynesia</option>
																	<option value="French Southern Territories">French Southern Territories</option>
																	<option value="Gabon">Gabon</option>
																	<option value="Gambia">Gambia</option>
																	<option value="Georgia">Georgia</option>
																	<option value="Germany">Germany</option>
																	<option value="Ghana">Ghana</option>
																	<option value="Gibraltar">Gibraltar</option>
																	<option value="Greece">Greece</option>
																	<option value="Greenland">Greenland</option>
																	<option value="Grenada">Grenada</option>
																	<option value="Guadeloupe">Guadeloupe</option>
																	<option value="Guam">Guam</option>
																	<option value="Guatemala">Guatemala</option>
																	<option value="Guernsey">Guernsey</option>
																	<option value="Guinea">Guinea</option>
																	<option value="Guinea-Bissau">Guinea-Bissau</option>
																	<option value="Guyana">Guyana</option>
																	<option value="Haiti">Haiti</option>
																	<option value="Heard Island and McDonald Islands">Heard Island and McDonald Islands</option>
																	<option value="Holy See Vatican City State">Holy See Vatican City State</option>
																	<option value="Honduras">Honduras</option>
																	<option value="Hong Kong">Hong Kong</option>
																	<option value="Hungary">Hungary</option>
																	<option value="Iceland">Iceland</option>
																	<option value="India">India</option>
																	<option value="Indonesia">Indonesia</option>
																	<option value="Iraq">Iraq</option>
																	<option value="Ireland">Ireland</option>
																	<option value="Islamic Republic of Iran">Islamic Republic of Iran</option>
																	<option value="Isle of Man">Isle of Man</option>
																	<option value="Israel">Israel</option>
																	<option value="Italy">Italy</option>
																	<option value="Jamaica">Jamaica</option>
																	<option value="Japan">Japan</option>
																	<option value="Jersey">Jersey</option>
																	<option value="Jordan">Jordan</option>
																	<option value="Kazakhstan">Kazakhstan</option>
																	<option value="Kenya">Kenya</option>
																	<option value="Kiribati">Kiribati</option>
																	<option value="Kuwait">Kuwait</option>
																	<option value="Kyrgyzstan">Kyrgyzstan</option>
																	<option value="Lao Peoples Democratic Republic">Lao Peoples Democratic Republic</option>
																	<option value="Latvia">Latvia</option>
																	<option value="Lebanon">Lebanon</option>
																	<option value="Lesotho">Lesotho</option>
																	<option value="Liberia">Liberia</option>
																	<option value="Libya">Libya</option>
																	<option value="Liechtenstein">Liechtenstein</option>
																	<option value="Lithuania">Lithuania</option>
																	<option value="Luxembourg">Luxembourg</option>
																	<option value="Macao">Macao</option>
																	<option value="Macedonia">Macedonia</option>
																	<option value="Madagascar">Madagascar</option>
																	<option value="Malawi">Malawi</option>
																	<option value="Malaysia">Malaysia</option>
																	<option value="Maldives">Maldives</option>
																	<option value="Mali">Mali</option>
																	<option value="Malta">Malta</option>
																	<option value="Marshall Islands">Marshall Islands</option>
																	<option value="Martinique">Martinique</option>
																	<option value="Mauritania">Mauritania</option>
																	<option value="Mauritius">Mauritius</option>
																	<option value="Mayotte">Mayotte</option>
																	<option value="Mexico">Mexico</option>
																	<option value="Micronesia">Micronesia</option>
																	<option value="Moldova">Moldova</option>
																	<option value="Monaco">Monaco</option>
																	<option value="Mongolia">Mongolia</option>
																	<option value="Montenegro">Montenegro</option>
																	<option value="Montserrat">Montserrat</option>
																	<option value="Morocco">Morocco</option>
																	<option value="Mozambique">Mozambique</option>
																	<option value="Myanmar">Myanmar</option>
																	<option value="Namibia">Namibia</option>
																	<option value="Nauru">Nauru</option>
																	<option value="Nepal">Nepal</option>
																	<option value="Netherlands">Netherlands</option>
																	<option value="New Caledonia">New Caledonia</option>
																	<option value="New Zealand">New Zealand</option>
																	<option value="Nicaragua">Nicaragua</option>
																	<option value="Niger">Niger</option>
																	<option value="Nigeria">Nigeria</option>
																	<option value="Niue">Niue</option>
																	<option value="Norfolk Island">Norfolk Island</option>
																	<option value="Northern Mariana Islands">Northern Mariana Islands</option>
																	<option value="Norway">Norway</option>
																	<option value="Oman">Oman</option>
																	<option value="Pakistan">Pakistan</option>
																	<option value="Palau">Palau</option>
																	<option value="Palestine, State of">Palestine, State of</option>
																	<option value="Panama">Panama</option>
																	<option value="Papua New Guinea">Papua New Guinea</option>
																	<option value="Paraguay">Paraguay</option>
																	<option value="Peru">Peru</option>
																	<option value="Philippines">Philippines</option>
																	<option value="Pitcairn">Pitcairn</option>
																	<option value="Plurinational State of Bolivia">Plurinational State of Bolivia</option>
																	<option value="Poland">Poland</option>
																	<option value="Portugal">Portugal</option>
																	<option value="Puerto Rico">Puerto Rico</option>
																	<option value="Qatar">Qatar</option>
																	<option value="Republic of Korea">Republic of Korea</option>
																	<option value="REU"></option>
																	<option value="Romania">Romania</option>
																	<option value="Russian Federation">Russian Federation</option>
																	<option value="Rwanda">Rwanda</option>
																	<option value="Saint Barthelemy">Saint Barthelemy</option>
																	<option value="Saint Helena Ascension and Tristan da Cunha">Saint Helena Ascension and Tristan da Cunha</option>
																	<option value="Saint Kitts and Nevis">Saint Kitts and Nevis</option>
																	<option value="Saint Lucia">Saint Lucia</option>
																	<option value="Saint Martin French part">Saint Martin French part</option>
																	<option value="Saint Pierre and Miquelon">Saint Pierre and Miquelon</option>
																	<option value="Saint Vincent and the Grenadines">Saint Vincent and the Grenadines</option>
																	<option value="Samoa">Samoa</option>
																	<option value="San Marino">San Marino</option>
																	<option value="Sao Tome and Principe">Sao Tome and Principe</option>
																	<option value="Saudi Arabia">Saudi Arabia</option>
																	<option value="Senegal">Senegal</option>
																	<option value="Serbia">Serbia</option>
																	<option value="Seychelles">Seychelles</option>
																	<option value="Sierra Leone">Sierra Leone</option>
																	<option value="Singapore">Singapore</option>
																	<option value="Sint Maarten Dutch part">Sint Maarten Dutch part</option>
																	<option value="Slovakia">Slovakia</option>
																	<option value="Slovenia">Slovenia</option>
																	<option value="Solomon Islands">Solomon Islands</option>
																	<option value="Somalia">Somalia</option>
																	<option value="South Africa">South Africa</option>
																	<option value="South Georgia and the South Sandwich Islands">South Georgia and the South Sandwich Islands</option>
																	<option value="South Sudan">South Sudan</option>
																	<option value="Spain">Spain</option>
																	<option value="Sri Lanka">Sri Lanka</option>
																	<option value="Sudan">Sudan</option>
																	<option value="Suriname">Suriname</option>
																	<option value="Svalbard and Jan Mayen">Svalbard and Jan Mayen</option>
																	<option value="Swaziland">Swaziland</option>
																	<option value="Sweden">Sweden</option>
																	<option value="Switzerland">Switzerland</option>
																	<option value="Syrian Arab Republic">Syrian Arab Republic</option>
																	<option value="Taiwan - Province of China">Taiwan - Province of China</option>
																	<option value="Tajikistan">Tajikistan</option>
																	<option value="Tanzania">Tanzania</option>
																	<option value="Thailand">Thailand</option>
																	<option value="Timor-Leste">Timor-Leste</option>
																	<option value="Togo">Togo</option>
																	<option value="Tokelau">Tokelau</option>
																	<option value="Tonga">Tonga</option>
																	<option value="Trinidad and Tobago">Trinidad and Tobago</option>
																	<option value="Tunisia">Tunisia</option>
																	<option value="Turkey">Turkey</option>
																	<option value="Turkmenistan">Turkmenistan</option>
																	<option value="Turks and Caicos Islands">Turks and Caicos Islands</option>
																	<option value="Tuvalu">Tuvalu</option>
																	<option value="Uganda">Uganda</option>
																	<option value="Ukraine">Ukraine</option>
																	<option value="United Arab Emirates">United Arab Emirates</option>
																	<option value="United Kingdom">United Kingdom</option>
																	<option value="United States">United States</option>
																	<option value="United States Minor Outlying Islands">United States Minor Outlying Islands</option>
																	<option value="Uruguay">Uruguay</option>
																	<option value="Uzbekistan">Uzbekistan</option>
																	<option value="Vanuatu">Vanuatu</option>
																	<option value="Venezuela Bolivarian Republic of">Venezuela Bolivarian Republic of</option>
																	<option value="Viet Nam">Viet Nam</option>
																	<option value="Virgin Islands - British">Virgin Islands - British</option>
																	<option value="Virgin Islands - U.S.">Virgin Islands - U.S.</option>
																	<option value="Wallis and Futuna">Wallis and Futuna</option>
																	<option value="Western Sahara">Western Sahara</option>
																	<option value="Zambia">Zambia</option>
																	<option value="Zimbabwe">Zimbabwe</option>
																</select>
															</div>
														</div>
													</div>
													</div>
				
													<div class="form-group">
														<div class="row">   
																										
															<div class="col-sm-4">
																<label for="height">Height</label>
																<input type="text" class="form-control" id="height" name="height" th:field="*{height}" placeholder="Height in m"/>
															</div>
															 
															<div class="col-sm-4">
																<label for="weight">Weight</label>
																<input id="weight" name="weight" th:field="*{weight}" placeholder="Weight in Kg" type="text" class="form-control">
															</div>
											                    
															<div class="col-sm-4">
																<label for="bloodType">Blood Type</label>
																<select id="bloodType" name="bloodType" class="form-control" th:field="*{bloodType}">
																	<option value="">SELECT VALUE</option>
																	<option value="O1">O+</option>
																	<option value="O2">O-</option>
																	<option value="A1">A+</option>
																	<option value="A2">A-</option>
																	<option value="B1">B+</option>
																	<option value="B2">B-</option>
																	<option value="AB1">AB+</option>
																	<option value="AB2">AB-</option>
																</select>
															</div>
											           </div>
													</div>
													
													<div class="form-group">
														<div class="row">    
															<div class="col-sm-4">
																<label for="pagibigNo">Pagibig No.</label>
																<input type="text" class="form-control" name="pagibigNo" th:field="*{pagibigNo}" id="pagibigNo" placeholder="Pagibig No." />
															</div>
											                    
															<div class="col-sm-4">
																<label for="philhealthNo">Philhealth No.</label>
																<input type="text" class="form-control" name="philhealthNo" id="philhealthNo" th:field="*{philhealthNo}" placeholder="Philhealth No." />
															</div>
															
															<div class="col-sm-4">
																<label for="gsisIdNo">GSIS ID No.</label>
																<input type="text" class="form-control" name="gsisIdNo" id="gsisIdNo" th:field="*{gsisIdNo}" placeholder="GSIS ID No." />
															</div>
											           </div>
													</div>
													
													<div class="form-group">
														<div class="row">
															<div class="col-sm-6">
																<label for="umidNo">UMID ID No. <small class="text-muted">(CS Form 2025 item 10)</small></label>
																<input type="text" class="form-control" name="umidNo" id="umidNo" th:field="*{umidNo}" placeholder="UMID ID No." />
															</div>
															<div class="col-sm-6">
																<label for="philsysNo">PhilSys Number (PSN) <small class="text-muted">(CS Form 2025 item 13)</small></label>
																<input type="text" class="form-control" name="philsysNo" id="philsysNo" th:field="*{philsysNo}" placeholder="PhilSys Number (PSN)" />
															</div>
														</div>
													</div>
													
													<div class="form-group">
														<div class="row">    
															<div class="col-sm-4">
																<label for="sssNo">SSS ID No.</label>
																<input type="text" class="form-control" name="sssNo" id="sssNo" th:field="*{sssNo}" placeholder="SSS ID No." />
															</div>
											                    
															<div class="col-sm-4">
																<label for="tin">TIN</label>
																<input type="text" class="form-control" name="tin" id="tin" th:field="*{tin}" placeholder="TIN" />
															</div>
															
															<div class="col-sm-4">
											                    <label for="employeeStatus">Employment Status</label>										                        
										                        <select th:field="*{employeeStatus.id}" id="employeeStatus" class="form-control required-field-hrisp">
										                        	<option selected value="">SELECT VALUE</option>
										                        	<option th:each="empStatus : ${employeeStatusList}" th:value="${empStatus.id}" th:text="${empStatus.employeeStatusName}">employeeStatusName</option>
										                        </select>
										                    </div>											
											           </div>
													</div>
													
													<div class="form-group">
														<div class="row">    
															<div class="col-sm-6">
																<label for="sssNo">Position Title</label>
																<select th:field="*{positionTitle.id}" id="positionTitle" class="form-control required-field-hrisp">
										                        	<option selected value="">SELECT VALUE</option>
										                        	<option th:each="positionTitle : ${positionTitleList}" th:value="${positionTitle.id}" th:text="${positionTitle.positionTitleName}">positionTitleName</option>
										                        </select>
															</div>															
															
															<div class="col-sm-6">
											                    <label for="department">Department</label>										                        
										                        <select th:field="*{division.id}" id="division" class="form-control required-field-hrisp">
										                        	<option selected value="">SELECT VALUE</option>
										                        	<option th:each="division : ${divisionList}" th:value="${division.id}" th:text="${division.divisionName}">division</option>
										                        </select>
										                    </div>											
											           </div>
													</div>		
													
													
													<hr>
													<h5>Residencial Address</h5>
													<!--  For Address -->
													<div class="form-group">
														<div class="row">    
															<div class="col-sm-6">
																<label for="houseno1">House/Block/Lot No.</label>
																<input type="text" class="form-control" name="houseno1" id="houseno1" th:field="*{houseno1}" placeholder="House/Block/Lot No." />
															</div>															
															
															<div class="col-sm-6">
											                    <label for="street1">Street</label>										                        
										                        <input type="text" class="form-control" name="street1" id="street1" th:field="*{street1}" placeholder="Street" />
										                    </div>											
											           </div>
													</div>
													<div class="form-group">
														<div class="row">    
															<div class="col-sm-5">
																<label for="subdivision1">Subdivision/Village</label>
																<input type="text" class="form-control" name="subdivision1" id="subdivision1" th:field="*{subdivision1}" placeholder="Subdivision/Village" />
															</div>															
															<div class="col-sm-4">
											                    <label for="brgy1">Barangay</label>										                        
										                        <input type="text" class="form-control" name="brgy1" id="brgy1" th:field="*{brgy1}" placeholder="Barangay" />
										                    </div>
										                    <div class="col-sm-3">
											                    <label for="zipcode1">Zip Code</label>										                        
										                        <input type="text" class="form-control" name="zipcode1" id="zipcode1" th:field="*{zipcode1}" placeholder="Zip Code" />
										                    </div>											
											           </div>
													</div>
													<div class="form-group">
														<div class="row">    
															<div class="col-sm-6">
																<label for="province1">Province</label>
																<select class="form-control" name="province1" id="province1" th:data-province1="*{province1}">
																</select>
															</div>															
															
															<div class="col-sm-6">
											                    <label for="city1">City</label>										                        
										                        <select class="form-control" name="city1" id="city1" th:data-city1="*{city1}">
																</select>
										                    </div>											
											           </div>
													</div>
													
													<div class="form-group mt-2">
														<div class="row">
															<div class="col-sm-12">
																<div class="form-check">
																	<input type="checkbox" class="form-check-input" id="sameAsResidential"
																	   name="permanentSameAsResidential"
																	   th:checked="${employee.permanentSameAsResidential}" />
																	<label class="form-check-label" for="sameAsResidential"><strong>Same as Residential Address</strong></label>
																</div>
															</div>
														</div>
													</div>
													<hr>
													<h5>Permanent Address</h5>
													<!--  For Address -->
													<div class="form-group">
														<div class="row">    
															<div class="col-sm-6">
																<label for="houseno2">House/Block/Lot No.</label>
																<input type="text" class="form-control" name="houseno2" id="houseno2" th:field="*{houseno2}" placeholder="House/Block/Lot No." />
															</div>															
															
															<div class="col-sm-6">
											                    <label for="street2">Street</label>										                        
										                        <input type="text" class="form-control" name="street2" id="street2" th:field="*{street2}" placeholder="Street" />
										                    </div>											
											           </div>
													</div>
													<div class="form-group">
														<div class="row">    
															<div class="col-sm-5">
																<label for="subdivision2">Subdivision/Village</label>
																<input type="text" class="form-control" name="subdivision2" id="subdivision2" th:field="*{subdivision2}" placeholder="Subdivision/Village" />
															</div>															
															<div class="col-sm-4">
											                    <label for="brgy2">Barangay</label>										                        
										                        <input type="text" class="form-control" name="brgy2" id="brgy2" th:field="*{brgy2}" placeholder="Barangay" />
										                    </div>
										                    <div class="col-sm-3">
											                    <label for="zipcode2">Zip Code</label>										                        
										                        <input type="text" class="form-control" name="zipcode2" id="zipcode2" th:field="*{zipcode2}" placeholder="Zip Code" />
										                    </div>											
											           </div>
													</div>
													<div class="form-group">
														<div class="row">    
															<div class="col-sm-6">
																<label for="province2">Province</label>
																<select class="form-control" name="province2" id="province2" th:data-province2="*{province2}">
																</select>
															</div>															
															
															<div class="col-sm-6">
											                    <label for="city2">City</label>										                        
										                        <select class="form-control" name="city2" id="city2" th:data-city2="*{city2}">
																</select>
										                    </div>											
											           </div>
													</div>					
													
												</div>

												<div class="modal-footer">
													<button id="returnBtn" type="button" class="btn bg-violet" onclick="returnToList();" th:if="${employee.showMode != 'PROFILE'}">Return to Employee List</button>
													<button id="submitBtn" type="submit" class="btn bg-primary">Save Info</button>
													<button id="nextSectionBtn" type="button" class="btn btn-success ml-2"
														onclick="validateAndGoNext(this.getAttribute('data-href'));"
														th:attr="data-href=@{/employee/familybg/{id}/{mode}/{hash}(id=${employee.id},mode=${employee.showMode},hash=${employee.empHashCode})}">
														Next: Family Background &#8594;
													</button>
												</div>
											</form>
										</div>
									</div>
								</div>
							</div>
														
					    </div>			    
					</div>
					<!-- /left content -->


					<!-- Right component Profile Pic -->
					<div class="sidebar sidebar-light bg-transparent sidebar-component sidebar-component-right wmin-100 border-0 shadow-0 order-1 order-md-2 sidebar-expand-md">

						
						<!-- Main sidebar -->
						<div th:replace="fragments/common::right-profile-content"></div>						
						<!-- /Main sidebar -->
		
					</div>
					<!-- /right sidebar component -->

				</div>
				<!-- /inner container -->

			</div>
			<!-- /content area -->
						
			

		</div>
		<!-- /main content -->
		
		

	</div>
	<!-- /page content -->
	
	<!-- Main sidebar -->
	<div th:replace="fragments/common::footer"></div>
	<!-- /Main sidebar -->
	
	<script th:inline="javascript">
		function returnToList(){
			//Redirect to Patient Record
			let contextRoot = /*[[${#httpServletRequest.getContextPath()}]]*/ '';
			window.location.href = contextRoot + "/employee-list";
		}
	</script>
	
	<script th:inline="javascript">
		// Validation helper for "Next" navigation across PDS sections
		function validateAndGoNext(nextUrl) {
			var missed = [];
			$('.required-field-hrisp:visible').each(function() {
				var v = $(this).val();
				if (!v || v.trim() === '') {
					var label = $('label[for="' + $(this).attr('id') + '"]').text().trim()
								|| $(this).attr('placeholder')
								|| $(this).attr('name')
								|| 'Unnamed field';
					missed.push(label);
				}
			});
			if (missed.length > 0) {
				swal({
					title: "Please fill required fields",
					text: missed.map(function(l, i) { return (i+1) + '. ' + l; }).join('\n'),
					icon: "warning"
				});
				return;
			}
			window.location.href = nextUrl;
		}

	    $(document).ready(function() {

			//Province 1 and City 1
			loadProvinces('province1');
	    	var province1 = $('#province1').attr('data-province1');
	    	$('#province1').val(province1);
	
	    	if(province1 === undefined){
	    		loadCities('city1','MM');
	    	} else {
	    		loadCities('city1',province1);
	    	}
	    	
	    	var city1 = $('#city1').attr('data-city1');
	    	$('#city1').val(city1);
	
	    	if (!province1) {
	    		$('#province1')[0].selectedIndex = 1;
	    		$('#city1')[0].selectedIndex = 0;
	    	}
	    	else if (!city1) {
	    		$('#city1')[0].selectedIndex = 0;
    		}
    		
    		//Province 2 and City 2
    		loadProvinces('province2');
	    	var province2 = $('#province2').attr('data-province2');
	    	$('#province2').val(province2);
	
	    	if(province2 === undefined){
	    		loadCities('city2','MM');
	    	} else {
	    		loadCities('city2',province2);
	    	}
	    	
	    	var city2 = $('#city2').attr('data-city2');
	    	$('#city2').val(city2);
	
	    	if (!province2) {
	    		$('#province2')[0].selectedIndex = 1;
	    		$('#city2')[0].selectedIndex = 0;
	    	}
	    	else if (!city2) {
	    		$('#city2')[0].selectedIndex = 0;
    		}


			// ── Select2 Searchable Address Dropdowns ────────────────────────────
			function initSelect2Address() {
				$('#province1, #province2').select2({ placeholder: '-- Type or select province --', allowClear: true, width: '100%' });
				$('#city1, #city2').select2({ placeholder: '-- Type or select city --', allowClear: true, width: '100%' });
			}
						// Re-bind loadCities via jQuery (Select2 replaces native onchange)
			$('#province1').on('change', function() {
				loadCities('city1', $(this).val());
				setTimeout(function() {
					if ($('#city1').data('select2')) $('#city1').select2({ placeholder: '-- Select city --', allowClear: true, width: '100%' });
				}, 60);
			});
			$('#province2').on('change', function() {
				loadCities('city2', $(this).val());
				setTimeout(function() {
					if ($('#city2').data('select2')) $('#city2').select2({ placeholder: '-- Select city --', allowClear: true, width: '100%' });
				}, 60);
			});
						// Initialise Select2 after provinces/cities are loaded
			setTimeout(initSelect2Address, 100);

			// Same as Residential Address checkbox
			$('#sameAsResidential').change(function() {
				if($(this).is(':checked')) {
					$('#houseno2').val($('#houseno1').val());
					$('#street2').val($('#street1').val());
					$('#subdivision2').val($('#subdivision1').val());
					$('#brgy2').val($('#brgy1').val());
					$('#zipcode2').val($('#zipcode1').val());
					var selProvince = $('#province1').val();
					$('#province2').prop('readonly', false).val(selProvince).prop('readonly', true);
					setTimeout(function() {
						loadCities('city2', selProvince);
						setTimeout(function() { $('#city2').val($('#city1').val()); }, 200);
					}, 50);
				}
			});

			// Show maiden name field only for married female employees
			function toggleMaidenName() {
				var g = $("#gender").val();
				var cs = $("#civilStatus").val();
				if (g === "F" && cs === "MARRIED") {
					$("#maidenNameEmpGroup").show();
				} else {
					$("#maidenNameEmpGroup").hide();
				}
			}
			$("#gender, #civilStatus").on("change", toggleMaidenName);
			toggleMaidenName();

			// Auto-populate permanent address if flag was persisted as true
			if ($("#sameAsResidential").is(":checked")) {
				$("#sameAsResidential").trigger("change");
			}

			// Show/hide country field based on citizenship selection, and disable when hidden
			function toggleCountryField() {
				var isDual = ($("#citizenship").val() === "DUAL CITIZENSHIP BY BIRTH"
							|| $("#citizenship").val() === "DUAL CITIZENSHIP BY NATURALIZATION");
				$("#countryGroup").toggle(isDual);
				$("#countryOfOrigin").prop('disabled', !isDual);
			}
			$("#citizenship").on("change", toggleCountryField);
			toggleCountryField();

			// Dismiss server validation error spans when user fills a field
			$(document).on("input change", "input, select, textarea", function() {
				if ($(this).val() && $(this).val().toString().trim() !== "") {
					$(this).closest(".col-sm-4, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-6").find(".validationError").hide();
				}
			});
			

			// ── Date Mask (dd/mm/yyyy ↔ yyyy-MM-dd) ──────────────────────────────
			$(document).on('input', '.date-mask-input', function() {
				var v = $(this).val().replace(/\D/g, '').substring(0, 8);
				if (v.length >= 3) v = v.substring(0,2) + '/' + v.substring(2);
				if (v.length >= 6) v = v.substring(0,5) + '/' + v.substring(5);
				$(this).val(v);
			});
			$(document).on('blur', '.date-mask-input', function() {
				var display = $(this).val().trim();
				var hiddenId = $(this).attr('id').replace('_display', '');
				var $hidden = $('#' + hiddenId);
				var $err = $(this).nextAll('.date-error').first();
				if (!display) { $hidden.val(''); $err.hide(); return; }
				var parts = display.split('/');
				if (parts.length !== 3) { $err.show(); return; }
				var dd = parts[0], mm = parts[1], yy = parts[2];
				var year = parseInt(yy, 10);
				if (yy.length <= 2) year += (year <= 49 ? 2000 : 1900);
				var d = new Date(year, parseInt(mm,10)-1, parseInt(dd,10));
				if (isNaN(d.getTime()) || d.getDate() != parseInt(dd,10) || (d.getMonth()+1) != parseInt(mm,10)) {
					$err.show(); $hidden.val(''); return;
				}
				$err.hide();
				$hidden.val(year + '-' + mm.padStart(2,'0') + '-' + dd.padStart(2,'0'));
			});
			// Pre-populate display inputs from hidden yyyy-MM-dd values on page load
			$('.date-mask-input').each(function() {
				var hiddenId = $(this).attr('id').replace('_display', '');
				var iso = $('#' + hiddenId).val();
				if (iso && iso.length === 10) {
					var parts = iso.split('-');
					$(this).val(parts[2] + '/' + parts[1] + '/' + parts[0]);
				}
			});

			// start update profile photo
			const fileSelect = document.getElementById('fileSelect');
		    const profilePhoto = document.getElementById('profilePhoto');
			fileSelect.addEventListener('click', (e) => {
	        	if (profilePhoto) {
	        		profilePhoto.click();
	        	}
	        }, false);
		    profilePhoto.addEventListener('change', previewImage, false);
		    
        	let uploadUrl = /*[[${#request.getContextPath() + '/file/upload/profilePhoto'}]]*/'';
        	let fileUploadForm = document.getElementById('fileUploadForm');
		    fileUploadForm.onsubmit = async (e) => {
		    	e.preventDefault();
		    	let fd = new FormData(fileUploadForm);
		    	
		    	let response = await fetch(uploadUrl, {
		    		method: 'POST',
		    		body: fd
		    	});
		    	
		    	if(response.ok){
		    		swal({
						title: "Success!",
						text: "Profile Photo successfully saved.",
						icon: "success",
						buttons: false,
			            timer: 2000,
					}).then(() => window.location.reload());
		    	} else {
		    		swal({
						title: "Upload Failure!",
						text: "Profile Photo not uploaded successfully.",
						icon: "error",
						buttons: false,
			            timer: 2000,
					});
		    	}
		    };
		    
		    function previewImage() {
				let input = document.getElementById('profilePhoto');
				let img = document.getElementById('photoPreview');
				if (input.files && input.files[0]) {
	        		var reader = new FileReader();
	        		reader.onload = function(e) {
	        			img.src = e.target.result;
	        		}
	        		reader.readAsDataURL(input.files[0]);
	        	}
			}
			// end update profile photo
	    	
	    	$('#consultation-list').DataTable({
				"lengthMenu": [10, 25, 50],
				"ordering": false, 
				
			});
			
			let showMode = /*[[${employee.showMode == null ? '' : employee.showMode} ]]*/'';
			
			if(showMode === 'PROFILE'){
				$(".nav-item-submenu").removeClass("nav-item-expanded nav-item-open");
				$("#myAccountNav").addClass("nav-item-expanded nav-item-open");
				$("#myPersonalInfoNav").addClass("active");

				$('#returnBtn').hide();
				$("#showMode").val("PROFILE");

				// HR-only fields: lock and remove required validation so employees can submit
				$("#empNo, #assumptiondate, #plantillaNo").prop("readonly", true).removeClass("required-field-hrisp");
				$("#employeeStatus").prop("disabled", true).removeClass("required-field-hrisp");
			// positionTitle and division left editable — employees may update these
			} else {
				$(".nav-item-submenu").removeClass("nav-item-expanded nav-item-open");
				$("#employeeManagementNav").addClass("nav-item-expanded nav-item-open");
				$("#employeeListNav").addClass("active");
				
				$("#showMode").val("HRADMIN");
			}
	    		    				
			

	    	let msgCode = /*[[${msg == null ? '' : msg.code} ]]*/'';
			let msgDesc = /*[[${msg == null ? '' : msg.message}]]*/'';
			
			if(msgCode === 'EMP-NOT-FOUND'){
				swal({
					title: "Employee not found!",
					text: msgDesc,
					icon: "error",
					buttons: false,
		            timer: 3000,
				})
				.then((value) => {
					let contextPath = /*[[${#request.getContextPath()}]]*/'';
					window.location.href = contextPath + "/dashboard";
				});

	    	} else if(msgCode === 'ERROR'){
				swal({
					title: "Error!",
					text: msgDesc,
					icon: "error",
					buttons: false,
		            timer: 2000,
				});
			} else if(msgCode === 'SUCCESS'){
				swal({
					title: "Success!",
					text: msgDesc,
					icon: "success",
					buttons: false,
		            timer: 2000,
				});
			} else if(msgCode === 'EDIT-SUCCESS'){
				swal({
					title: "Success!",
					text: msgDesc,
					icon: "success",
					buttons: false,
		            timer: 2000,
				});
			}
			
			$('#employeeForm').submit(function(event) {
		        var emptyFields = [];
		        $('.required-field-hrisp').each(function() {
		            if (!$(this).val() || $(this).val().trim() === '') {
		                emptyFields.push($(this));
		            }
		        });
		        if (emptyFields.length > 0) {
		            // Soft warning — no longer blocks submission (save-as-you-go)
		            swal({
						title: "Heads up!",
						text: "Some fields are incomplete. Your progress has been saved.",
						icon: "warning",
						buttons: false,
			            timer: 2500,
					});
		        }
		    });
		    
		    

	    });

		

	</script>

</body>
</html>
