<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
	<th:block th:replace="fragments/common::header-meta"></th:block>
    <!-- common import of css & js goes here -->
    <th:block th:replace="fragments/common::header-import-css"></th:block>
    <th:block th:replace="fragments/common::header-import-js"></th:block>
	<title>Dashboard</title>
</head>
<body>
	<!-- Main Navbar -->
	<div th:replace="fragments/common::main-navbar"></div>
	<!-- /Main Navbar -->
	<!-- Page content -->
	<div class="page-content">
		<!-- Main sidebar -->
		<div th:replace="fragments/common::main-sidebarnav"></div>
		<!-- /Main sidebar -->

		<!-- Main content -->
		<div class="content-wrapper">

			<div class="content">

				<!-- Inner container -->
				<div class="d-flex align-items-start flex-column flex-md-row">

					<!-- Left content -->
					<div class="tab-content w-100 order-2 order-md-1">
						<div class="tab-pane fade active show" id="activity">
							
							<!-- Dashboard content -->
							<div class="tab-content w-100 order-2 order-md-1">
    <div class="tab-pane fade active show" id="activity">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <div class="card shadow">
                    <div class="card-header bg-primary text-white">
                        <h2 class="card-title font-bold mb-0">Change Password</h2>
                    </div>
                    <div class="card-body">
                        <p class="card-text">Please enter details to change your password.</p>
                        <form method="post" th:action="@{/save-change-password/{id}(id=${employee.getId()})}" th:object="${changePassword}">
							<div class="form-group">
								<label for="oldPassword">Old Password</label>
								<input id="oldPassword" name="oldPassword" th:field="*{oldPassword}" placeholder="Enter your current password" type="password" class="form-control" />
								<span class="validationError text-danger" th:if="${#fields.hasErrors('oldPassword')}" th:errors="*{oldPassword}"></span>
							</div>
							<div class="form-group">
								<label for="newPassword">New Password</label>
								<input id="newPassword" name="newPassword" th:field="*{newPassword}" placeholder="Enter your new password" type="password" class="form-control" />
								<span class="validationError text-danger" th:if="${#fields.hasErrors('newPassword')}" th:errors="*{newPassword}"></span>
							</div>
							<div class="form-group">
								<label for="confirmPassword">Confirm New Password</label>
								<input id="confirmPassword" name="confirmPassword" th:field="*{confirmPassword}" placeholder="Confirm your new password" type="password" class="form-control" />
								<span class="validationError text-danger" th:if="${#fields.hasErrors('confirmPassword')}" th:errors="*{confirmPassword}"></span>
							</div>
							<button type="submit" class="btn btn-primary">Save</button>
						</form>
						
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

							<!-- /dashboard content -->
							
														
					    </div>			    
					</div>
					<!-- /left content -->


				</div>
				<!-- /inner container -->

			</div>
			<!-- /content area -->
		</div>
		<!-- /main content -->
	</div>
	<!-- /page content -->
	
	<!-- Main sidebar -->
	<div th:replace="fragments/common::footer"></div>
	<!-- /Main sidebar -->
	
	<script th:inline="javascript">		
	
	    $(document).ready(function() {
	    	
	    	$('#consultation-list').DataTable({
				"lengthMenu": [10, 25, 50],
				"ordering": false, 
				
			});
	    		    				
			let showMode = /*[[${employee.showMode == null ? '' : employee.showMode} ]]*/'';
			
			if(showMode === 'PROFILE'){
				$(".nav-item-submenu").removeClass("nav-item-expanded nav-item-open");
				$("#myAccountNav").addClass("nav-item-expanded nav-item-open");
				$("#myPersonalInfoNav").addClass("active");
								
				$("#showMode").val("PROFILE");
			} else {
				$(".nav-item-submenu").removeClass("nav-item-expanded nav-item-open");
				$("#employeeManagementNav").addClass("nav-item-expanded nav-item-open");
				$("#employeeListNav").addClass("active");
				
				$("#showMode").val("HRADMIN");
			}

	    	let msgCode = /*[[${msg == null ? '' : msg.code} ]]*/'';
			let msgDesc = /*[[${msg == null ? '' : msg.message}]]*/'';

	    	if(msgCode === 'ERROR'){
				swal({
					title: "Error!",
					text: msgDesc,
					icon: "error",
					buttons: false,
		            timer: 2000,
				});
			} else if(msgCode === 'EDIT-SUCCESS'){
				swal({
					title: "Success!",
					text: msgDesc,
					icon: "success",
					buttons: false,
		            timer: 2000,
				});
			}

	    });

		$(document).on("click", ".showDetails", function() {

			var id = $(this).attr('data-row-id');
			var specialSkill = $(this).attr('data-row-specialSkill');
			var nonAcademic = $(this).attr('data-row-nonAcademic');
			var membershipInAssociation = $(this).attr('data-row-membershipInAssociation');
			
					
			$("#modal_form_vertical").find("#id").val(id);
			$("#modal_form_vertical").find("#specialSkill").val(specialSkill);
			$("#modal_form_vertical").find("#nonAcademic").val(nonAcademic);
			$("#modal_form_vertical").find("#membershipInAssociation").val(membershipInAssociation);
		});


		

	</script>

</body>
</html>
