<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
	<th:block th:replace="fragments/common::header-meta"></th:block>

    <!-- common import of css & js goes here -->
    <th:block th:replace="fragments/common::header-import-css"></th:block>
    <th:block th:replace="fragments/common::header-import-js"></th:block>
    
	<title>Human Resource Information System</title>


</head>

<body>

	<!-- Main Navbar -->
	<div th:replace="fragments/common::main-navbar"></div>
	<!-- /Main Navbar -->

					
	<!-- Page content -->
	<div class="page-content">	
		
		<!-- Main sidebar -->
		<div th:replace="fragments/common::main-sidebarnav"></div>
		<!-- /Main sidebar -->


		<!-- Main content -->
		<div class="content-wrapper">

			
			<!-- Content area -->
			<div class="content pt-0">

				<!-- Dashboard content -->
				<div class="row">
					<div class="col-xl-12">
						<!-- Basic datatable -->
						<div class="card p-3">
							<div class="card-header header-elements-inline bg-primary">
								<h6 class="card-title">Service Record Signatory</h6>
							</div>
							<div class="card-body">
											<form id="employeeForm" th:action="@{/saveSrSignatory}" method="post" th:object="${serviceRecordSignatory}">
												<input type="hidden" th:field="*{id}" name="id" id="id">
												<div class="modal-body">
													
													<div class="form-group">
														<div class="row">
															<div class="col-sm-6">
																<label for="signatory">Name of Signatory</label>
																<input id="signatory" name="signatory" th:field="*{signatory}" type="text" placeholder="Signatory" class="form-control required-field-hrisp" >
															</div>   
															<div class="col-sm-6">
																<label for="position">Position of Signatory</label>
																<input id="position" name="position" th:field="*{position}" type="text" placeholder="Position" class="form-control required-field-hrisp" >
															</div>             
											            </div>
											            
													</div>
													
													<div class="modal-footer">
														<button type="submit" class="btn bg-primary">Save Signatory</button>
													</div>
												</div>
											</form>
										</div>
		
							
						</div>
						<!-- /basic datatable -->					
					</div>
				</div>
				<!-- /dashboard content -->

			</div>
			<!-- /content area -->

			<!-- Footer -->
			<div th:replace="fragments/common::footer"></div>
			<!-- /Footer -->    

		</div>
		<!-- /main content -->

	</div>
	<!-- /page content -->

	<script th:inline="javascript">

			
		$(document).ready(function() {
			
			$(".nav-item-submenu").removeClass("nav-item-expanded nav-item-open");
			$("#systemSettingsNav").addClass("nav-item-expanded nav-item-open");
			$("#srSignatoryNav").addClass("active");			
			
			let msgCode = /*[[${msg == null ? '' : msg.code} ]]*/'';
			let msgDesc = /*[[${msg == null ? '' : msg.message}]]*/'';
			
			if(msgCode === 'ERROR'){
				$('#modal_form_vertical').modal('show');
				swal({
					title: "Error!",
					text: msgDesc,
					icon: "error",
					buttons: false,
		            timer: 2000,
				});
			} else if(msgCode === 'SUCCESS'){
				swal({
					title: "Success!",
					text: msgDesc,
					icon: "success",
					buttons: false,
		            timer: 2000,
				});
			}
			
			
		});
		
		$('#table-list').DataTable({
				"lengthMenu": [10, 25, 50],
				"ordering": false,                
		});
		
		
        
	</script>
</body>
</html>
