<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
	<th:block th:replace="fragments/common::header-meta"></th:block>
    <!-- common import of css & js goes here -->
    <th:block th:replace="fragments/common::header-import-css"></th:block>
    <th:block th:replace="fragments/common::header-import-js"></th:block>
	<title>Dashboard</title>
</head>
<body>
	<!-- Main Navbar -->
	<div th:replace="fragments/common::main-navbar"></div>
	<!-- /Main Navbar -->
	<!-- Page content -->
	<div class="page-content">
		<!-- Main sidebar -->
		<div th:replace="fragments/common::main-sidebarnav"></div>
		<!-- /Main sidebar -->

		<!-- Main content -->
		<div class="content-wrapper">

			<!-- Vertical form modal -->
			<div id="modal_form_vertical" class="modal fade" tabindex="-1">
				<div class="modal-dialog modal-lg">
					<div class="modal-content">
						<div class="modal-header bg-primary">
							<h5 class="modal-title">Work Experience Information</h5>
							<button type="button" class="close" data-dismiss="modal">&times;</button>
						</div>

						<form id="employeeForm" method="post" th:action="@{/addWorkExperience}" th:object="${workExperience}">
							<input type="hidden" th:field="*{id}" name="id" id="id">
							<input type="hidden" th:field="*{employee.id}" name="employeeId" id="employeeId">
							<input type="hidden" th:field="*{employee.empHashCode}" name="empHashCode" id="empHashCode">
							<input type="hidden" th:field="*{showMode}" name="showMode" id="showMode" value="">
							<div class="modal-body">
								
								<div class="form-group">

									<div class="row">
										<div class="col-sm-4">
											<label for="firstName">Date From</label>
											<span class="validationError text-danger" th:if="${#fields.hasErrors('dateFrom')}" th:errors="*{dateFrom}"></span>
											<input id="dateFrom" name="dateFrom" th:field="*{dateFrom}" type="date" class="form-control required-field-hrisp" >
										</div>	
										<div class="col-sm-4">
											<label for="firstName">Date To</label>
											<span class="validationError text-danger" th:if="${#fields.hasErrors('dateTo')}" th:errors="*{dateTo}"></span>
											<input id="dateTo" name="dateTo" th:field="*{dateTo}" type="date" class="form-control required-field-hrisp" >
										</div>	
										<div class="col-sm-4">
											<label for="firstName">&nbsp;</label><br>
											<input th:field="*{upToPresent}" id="upToPresent" name="upToPresent" placeholder="N/A" type="checkbox"> 
											<label for="dateTo">isPresent</label>
										</div>
									</div>

									<div class="row mt-3">
										<div class="col-sm-4">
											<label for="positionTitle">Position Title</label>
											<span class="validationError text-danger" th:if="${#fields.hasErrors('positionTitle')}" th:errors="*{positionTitle}"></span>
											<input id="positionTitle" name="positionTitle" th:field="*{positionTitle}" placeholder="Position Title" type="text" class="form-control required-field-hrisp" >
										</div>
										<div class="col-sm-4">
											<label for="department">Department</label>
											<span class="validationError text-danger" th:if="${#fields.hasErrors('department')}" th:errors="*{department}"></span>
											<input id="department" name="department" th:field="*{department}" placeholder="Department" type="text" class="form-control required-field-hrisp" >
										</div>
										<div class="col-sm-4">
											<label for="officeName">Office Name</label>
											<span class="validationError text-danger" th:if="${#fields.hasErrors('officeName')}" th:errors="*{officeName}"></span>
											<input id="officeName" name="officeName" th:field="*{officeName}" placeholder="Office Name" type="text" class="form-control required-field-hrisp" >
										</div>		
									</div>

									<div class="row mt-3">
										<div class="col-sm-4">
											<label for="immediateSupervisor">Immediate Supervisor</label>
											<span class="validationError text-danger" th:if="${#fields.hasErrors('immediateSupervisor')}" th:errors="*{immediateSupervisor}"></span>
											<input id="immediateSupervisor" name="immediateSupervisor" th:field="*{immediateSupervisor}" placeholder="Immediate Supervisor" type="text" class="form-control required-field-hrisp" >
										</div>
										<div class="col-sm-8">
											<label for="jobDescription">Job Description</label>
											<span class="validationError text-danger" th:if="${#fields.hasErrors('jobDescription')}" th:errors="*{jobDescription}"></span>
											<input id="jobDescription" name="jobDescription" th:field="*{jobDescription}" placeholder="Job Description" type="text" class="form-control required-field-hrisp" >
										</div>
									</div>
									<div class="row mt-3">
										<div class="col-sm-4">
											<label for="salary">Salary</label>
											<span class="validationError text-danger" th:if="${#fields.hasErrors('salary')}" th:errors="*{salary}"></span>
											<input id="salary" name="salary" th:field="*{salary}" placeholder="Salary" type="number" class="form-control required-field-hrisp" >
										</div>
										<div class="col-sm-4">
											<label for="salaryGrade">Salary Grade</label>
											<span class="validationError text-danger" th:if="${#fields.hasErrors('salaryGrade')}" th:errors="*{salaryGrade}"></span>
											<input id="salaryGrade" name="salaryGrade" th:field="*{salaryGrade}" placeholder="Salary" type="number" class="form-control required-field-hrisp" >
										</div>
										<div class="col-sm-4">
											<label for="salaryGrade">Step Number</label>
											<span class="validationError text-danger" th:if="${#fields.hasErrors('stepNo')}" th:errors="*{stepNo}"></span>
											<input id="stepNo" name="stepNo" th:field="*{stepNo}" placeholder="Salary" type="number" class="form-control required-field-hrisp" >
										</div>
									</div>
									<div class="row  mt-3">
										<div class="col-sm-6">
											<label for="appointmentStatus">Appointment Status</label>
											<span class="validationError text-danger" th:if="${#fields.hasErrors('appointmentStatus')}" th:errors="*{appointmentStatus}"></span>
											<select name="appointmentStatus" id="appointmentStatus" th:field="*{appointmentStatus}" class="form-control">
												<option value="CASUAL">CASUAL</option>
												<option value="CONTRACTUAL">CONTRACTUAL</option>
											</select>
										</div>
										<div class="col-sm-6">
											<label for="govtOffice">Gov't Service</label>
											<span class="validationError text-danger" th:if="${#fields.hasErrors('govtOffice')}" th:errors="*{govtOffice}"></span>
											<select name="govtOffice" id="govtOffice" th:field="*{govtOffice}" class="form-control">
												<option value="YES">YES</option>
												<option value="NO">NO</option>
											</select>
										</div>
									</div>
									<div class="row mt-3">
										<div class="col-sm-12">
											<label for="remarks">Remarks</label>
											<span class="validationError text-danger" th:if="${#fields.hasErrors('remarks')}" th:errors="*{remarks}"></span>
											<textarea id="remarks" name="remarks" th:field="*{remarks}" class="form-control" style="resize: none;"></textarea>
										</div>
									</div>

								</div>
							</div>

							<div class="modal-footer">
								<button type="button" class="btn bg-primary" data-dismiss="modal">Close</button>
								<button id="submitBtn" type="submit" class="btn bg-primary">Save Info</button>
							</div>
						</form>
					</div>
				</div>
			</div>
		    <!-- /Vertical form modal -->

			<div class="content">

				<!-- Inner container -->
				<div class="d-flex align-items-start flex-column flex-md-row">

					<!-- Left content -->
					<div class="tab-content w-100 order-2 order-md-1">
						<div class="tab-pane fade active show" id="activity">
							
							
							
							<!-- Dashboard content -->
							<div class="row mt-3">
								<div class="col-xl-12">
									
									
									<div class="card">
										<div class="card-header header-elements-inline">
											<h5 class="card-title">Work Experience Information</h5>
											<div class="header-elements">
												<div class="list-icons">				                				
									           		<button id="addButton" type="button" class="btn btn-primary" data-toggle="modal" data-target="#modal_form_vertical">Add Record</button>
									           	</div>
											</div>
										</div>
					
										<div class="card-body">
											List of All Work Experience. Type to search desired information.
										</div>
					
										<table class="table table-bordered table-hover datatable-highlight">
											<thead>
												<tr>
													<th width="150px;">&nbsp;</th>
													<th>Position Title</th>
													<th>Period</th>	
													<th>Salary</th>			
													<th>Appointment Status</th>	
													<th>Gov't Service</th>											
												</tr>
											</thead>
											<tbody>
												<th:block th:each="experience: ${workExperienceList}">
													<tr>
														
														<td class="text-center">
															<button id="editDegreeLevelButton" type="button" class="showDetails btn btn-primary"
															 th:data-row-dateFrom="${experience.getDateFrom()}"
															 th:data-row-dateTo="${experience.getDateTo()}"
															 th:data-row-upToPresent="${experience.isUpToPresent()}"
			                                                 th:data-row-positionTitle="${experience.getPositionTitle()}"	
			                                                 th:data-row-department="${experience.getDepartment()}"
			                                                 th:data-row-officeName="${experience.getOfficeName()}"
			                                                 th:data-row-immediateSupervisor="${experience.getImmediateSupervisor()}"
			                                                 th:data-row-jobDescription="${experience.getJobDescription()}"
			                                                 th:data-row-salary="${experience.getSalary()}"
			                                                 th:data-row-salaryGrade="${experience.getSalaryGrade()}"
			                                                 th:data-row-stepNo="${experience.getStepNo()}"
			                                                 th:data-row-appointmentStatus="${experience.getAppointmentStatus()}"
			                                                 th:data-row-govtOffice="${experience.getGovtOffice()}"
			                                                 th:data-row-remarks="${experience.getRemarks()}"
			                                                 th:data-row-id="${experience.getId()}"												 
															data-toggle="modal" data-target="#modal_form_vertical"
			                                                >View Record</button>
														</td>														
														
														<td th:text="${experience.getPositionTitle()}"></td>
														<td th:text="${experience.getInclusiveDates()}"></td>
														<td th:text="${experience.getFormattedSalary()}"></td>
														<td th:text="${experience.getAppointmentStatus()}"></td>
														<td th:text="${experience.getGovtOffice()}"></td>
														
													</tr>
												</th:block>		
												
												
											</tbody>
										</table>
									</div>
									
									
											
								</div>
							</div>
							<!-- /dashboard content -->
							
														
					    </div>			    
					</div>
					<!-- /left content -->


					<!-- Right component Profile Pic -->
					<div class="sidebar sidebar-light bg-transparent sidebar-component sidebar-component-right wmin-100 border-0 shadow-0 order-1 order-md-2 sidebar-expand-md">

						<!-- Main sidebar -->
						<div th:replace="fragments/common::right-profile-content"></div>
						<!-- /Main sidebar -->
		
					</div>
					<!-- /right sidebar component -->

				</div>
				<!-- /inner container -->

			</div>
			<!-- /content area -->
		
		</div>
		<!-- /main content -->
	</div>
	<!-- /page content -->
	
	<!-- Main sidebar -->
	<div th:replace="fragments/common::footer"></div>
	<!-- /Main sidebar -->
	
	<script th:inline="javascript">		
	
	$(document).ready(function() {
			
			$('#addButton').click(function(){
				let empHashCode = $('#empHashCode').val();
				let employeeId = $('#employeeId').val();
				
		        $('#employeeForm')[0].reset();
		        
		        $('#empHashCode').val(empHashCode);
		        $('#employeeId').val(employeeId);
		        $(".spouseField").show();
		    });
			
			$(document).on("click", ".showDetails", function() {

				var id = $(this).attr('data-row-id');
	            var positionTitle = $(this).attr('data-row-positionTitle');
				var dateFrom = $(this).attr('data-row-dateFrom');
				var dateTo = $(this).attr('data-row-dateTo');
				var upToPresent = $(this).attr('data-row-upToPresent');
	            var department = $(this).attr('data-row-department'); 
	            var officeName = $(this).attr('data-row-officeName');
	            var immediateSupervisor = $(this).attr('data-row-immediateSupervisor');
	            var jobDescription = $(this).attr('data-row-jobDescription');
	            var salary = $(this).attr('data-row-salary');
	            var salaryGrade = $(this).attr('data-row-salaryGrade');
	            var stepNo = $(this).attr('data-row-stepNo');
	            var appointmentStatus = $(this).attr('data-row-appointmentStatus');
	            var govtOffice = $(this).attr('data-row-govtOffice');
	            var remarks = $(this).attr('data-row-remarks');
	                    
	            $("#modal_form_vertical").find("#id").val(id);
				$("#modal_form_vertical").find("#dateFrom").val(dateFrom);
				$("#modal_form_vertical").find("#dateTo").val(dateTo);
				$("#modal_form_vertical").find("#upToPresent").prop("checked", upToPresent);
	            $("#modal_form_vertical").find("#positionTitle").val(positionTitle);
	            $("#modal_form_vertical").find("#department").val(department);
	            $("#modal_form_vertical").find("#officeName").val(officeName);
	            $("#modal_form_vertical").find("#immediateSupervisor").val(immediateSupervisor);
	            $("#modal_form_vertical").find("#jobDescription").val(jobDescription);
	            $("#modal_form_vertical").find("#salary").val(salary);
	            $("#modal_form_vertical").find("#salaryGrade").val(salaryGrade);
	            $("#modal_form_vertical").find("#stepNo").val(stepNo);
	            $("#modal_form_vertical").find("#appointmentStatus").val(appointmentStatus);
	            $("#modal_form_vertical").find("#govtOffice").val(govtOffice);
	            $("#modal_form_vertical").find("#remarks").val(remarks);	            
	            
	        });
					
			// start update profile photo
			const fileSelect = document.getElementById('fileSelect');
		    const profilePhoto = document.getElementById('profilePhoto');
			fileSelect.addEventListener('click', (e) => {
	        	if (profilePhoto) {
	        		profilePhoto.click();
	        	}
	        }, false);
		    profilePhoto.addEventListener('change', previewImage, false);
		    
        	let uploadUrl = /*[[${#request.getContextPath() + '/file/upload/profilePhoto'}]]*/'';
        	let fileUploadForm = document.getElementById('fileUploadForm');
		    fileUploadForm.onsubmit = async (e) => {
		    	e.preventDefault();
		    	let fd = new FormData(fileUploadForm);
		    	
		    	let response = await fetch(uploadUrl, {
		    		method: 'POST',
		    		body: fd
		    	});
		    	
		    	if(response.ok){
		    		swal({
						title: "Success!",
						text: "Profile Photo successfully saved.",
						icon: "success",
						buttons: false,
			            timer: 2000,
					}).then(() => window.location.reload());
		    	} else {
		    		swal({
						title: "Upload Failure!",
						text: "Profile Photo not uploaded successfully.",
						icon: "error",
						buttons: false,
			            timer: 2000,
					});
		    	}
		    };
		    
		    function previewImage() {
				let input = document.getElementById('profilePhoto');
				let img = document.getElementById('photoPreview');
				if (input.files && input.files[0]) {
	        		var reader = new FileReader();
	        		reader.onload = function(e) {
	        			img.src = e.target.result;
	        		}
	        		reader.readAsDataURL(input.files[0]);
	        	}
			}
			// end update profile photo
	    	
	    	$('#consultation-list').DataTable({
				"lengthMenu": [10, 25, 50],
				"ordering": false, 
				
			});
			
			let showMode = /*[[${employee.showMode == null ? '' : employee.showMode} ]]*/'';
			
			if(showMode === 'PROFILE'){
				$(".nav-item-submenu").removeClass("nav-item-expanded nav-item-open");
				$("#myAccountNav").addClass("nav-item-expanded nav-item-open");
				$("#myPersonalInfoNav").addClass("active");
				
				$('#addButton').hide();
				$('#submitBtn').hide();
				$('#updatePhotoBtn').hide();
				$('#cameraArea').hide();
				
				$('textarea').prop('readonly', true);
				$('input').prop('readonly', true);
				$('select').prop('disabled', true);
				$('input, select').removeClass("required-field-hrisp");
				
				$("#showMode").val("PROFILE");
			} else {
				$(".nav-item-submenu").removeClass("nav-item-expanded nav-item-open");
				$("#employeeManagementNav").addClass("nav-item-expanded nav-item-open");
				$("#employeeListNav").addClass("active");
				
				$("#showMode").val("HRADMIN");
			}
	    		    				
			

	    	let msgCode = /*[[${msg == null ? '' : msg.code} ]]*/'';
			let msgDesc = /*[[${msg == null ? '' : msg.message}]]*/'';
			
			if(msgCode === 'EMP-NOT-FOUND'){
				swal({
					title: "Employee not found!",
					text: msgDesc,
					icon: "error",
					buttons: false,
		            timer: 3000,
				})
				.then((value) => {
					let contextPath = /*[[${#request.getContextPath()}]]*/'';
					window.location.href = contextPath + "/dashboard";
				});

	    	} else if(msgCode === 'ERROR'){
				swal({
					title: "Error!",
					text: msgDesc,
					icon: "error",
					buttons: false,
		            timer: 2000,
				});
			} else if(msgCode === 'SUCCESS'){
				swal({
					title: "Success!",
					text: msgDesc,
					icon: "success",
					buttons: false,
		            timer: 2000,
				});
			} else if(msgCode === 'EDIT-SUCCESS'){
				swal({
					title: "Success!",
					text: msgDesc,
					icon: "success",
					buttons: false,
		            timer: 2000,
				});
			}
			
			$('#employeeForm').submit(function(event) {
		        var emptyFields = [];
		        $('.required-field-hrisp').each(function() {
		            if ($(this).val().trim() === '') {
		                emptyFields.push($(this));
		            }
		        });
		
		        if (emptyFields.length > 0) {
		            event.preventDefault();
		            //var alertMessage = "Please fill out the following fields:\n";
		            //$.each(emptyFields, function(index, field) {
		            //    alertMessage += "- " + field.attr('name') + "\n";
		            //});
		            //alert(alertMessage);
		            // Focus on the first empty field
		            
		            swal({
						title: "Error!",
						text: "Mandatory fields marked in RED are mandatory.",
						icon: "error",
						buttons: false,
			            timer: 2000,
					});
		            emptyFields[0].focus();
		        } else {
					$("#gender").prop("disabled", false);	
				}
		    });
		    
		    

	    });

	</script>

</body>
</html>
